.dashboard-container {
  padding: 20px;
  min-height: 100vh;
}

.dashboard-title {
  text-align: center;
  font-family: "Georgia", serif;
  color: #1d3557;
  margin-bottom: 20px;
}

.dashboard-card {
  text-align: center;

  transition: all 0.3s ease-in-out;
  height: 150px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
}

.dashboard-card-title {
  margin: 0; /* Reduce margin of title */
  font-size: 2rem; /* Adjust font size */
}

.dashboard-card-text {
  margin-top: 4px; /* Reduce space between title and text */
  font-size: 1rem; /* Adjust font size */
}

.dashboard-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.no-transaction-data {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}
