/* SpecialOffers.css */
.special-offers-section {
  padding: 10px 20px;

  text-align: center;
}

.section-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
}

.offer-card {
  position: relative;
  height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  box-shadow: 0 4px 8px rgba(18, 92, 189, 0.2);
  transition: all 0.3s ease;
}

.offer-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: left;
}

.offer-discount {
  font-size: 24px;
  color: #ffd700;
  font-weight: bold;
  margin-bottom: 10px;
}

.offer-card h3 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.offer-card p {
  font-size: 16px;
  color: #ccc;
}

.offer-button {
  margin-top: 10px;
  background-color: #001529;
  border: none;
  color: #fff;
  font-weight: bold;
}

.offer-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
